/* Uploads */

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
  font-family: 'ahganirya';
  src: url('./ahganirya-font/AhganiryaPersonalUse-Yznaj.ttf');
}
@font-face {
  font-family: 'honeybee';
  src: url('./honeybee-font/HoneybeePersonalUseRegular-YzBn4.ttf');
}



body {
  font-family: "Roboto", sans-serif;;
}
.app {
  position: relative;
}

.nav-bar {
  display: flex;
  background-color: rgba(78,177,162,0.8);
  position: fixed;
  bottom: 0;


  justify-content: center;
  width: 100vw;
}

.nav-bar a {
  padding: 32px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-bar {
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;

    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }

  .navI {
    font-size: 28px;
    color: white;

  }

  .navT {
    font-size: 18px;
    color: whitesmoke;
  }
}




/* Home */

.home {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 48px 0 96px 0;
  background-color: rgba(48,71,94,0.9 );

  position: relative;

  z-index: 10;
}

.hero h2{
  font-size: 12px;
  color: white;
  font-weight: 300;

  text-align: center;
  padding-bottom: 16px;
}

.hero h3{
  font-size: 26px;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 1.5;
}

.hero p{
  font-size: 16px;
  font-weight: 400;
  color: white;
  
  
  text-align: center;
}


/* Search Result */

.search-result {
  padding: 36px 0;
}



.book {
  display: flex;
}

.booklist {
  justify-content: center;
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;

  list-style-type: none;
  overflow-x: auto;
  padding-inline-start: 0; /* Remove default padding */
  margin-inline-start: auto; /* Move the list to the center */

  position: relative;
  min-height: 100px;
}

.booklist::before {
  content: ""; /* Create a pseudo-element */
  flex: 0 0 50%; /* Ensure enough space before and after the list */
}

.booklist li a {
  text-decoration: none;
}
.book-con {
  padding: 16px 24px;
  
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.book-img-con {
  
  width: 100px;
  height: 130px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.book-img-con img {
  width: 80%;
}

.book-con h4 {
  font-family: "Radio Canada Big", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.book-con h5 {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: rgb(95, 95, 95);
}

.book-con span {
  color:rgba(214,192,161,255);
}







/* IND BOOK */

.ind-book {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.ind-book-img {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  background: linear-gradient(135deg, rgba(246,238,227, 1) 0%, rgba(238,231,215, 1) 100%);
}

.ind-book-des {
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
  padding: 20px 0 10px 0;
}

.ind-book-des h4 {
  
  text-align: center;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Radio Canada Big", sans-serif;

}

.ind-book-des h5 {
  font-size: 18px;
  color:rgba(214,192,161,255) ;
  font-weight: 500;
}

.ind-book-des h6 {
  font-size: 14px;
  color:rgba(214,192,161,255) ;
  font-weight: 500;
}

.genre {
  padding: 0 24px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  text-align: center;
}


.ind-book-des p {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  width: 85%;
  overflow: hidden;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color:rgba(214,192,161,255) ;
  font-size: 14px;
}

.add-des {
  display: flex;
  justify-content: space-around;
  width: 90%;
  gap: 20px;
  padding: 4px 24px 16px 24px;
  border-bottom: 0.5px solid rgb(185, 182, 182);
}

.add-des-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ind-btn {
  width: 50%;
  border: none;
  padding: 12px 24px;
  background-color: rgb(255,165,0);
  border-radius: 30px;
  margin-bottom: 100px;
  color: white;
}

.added {
  background-color: #5ACE5A;
}

@media (max-width: 768px) {
  .ind-book-img {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    background-color: green;
  }

  .ind-book-img img {
    /* height: 25vh; */
    width: 40%;
  }

  .ind-book {
    margin-bottom: 80px;
  }

}











/* Sign In Sign Up */





.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}



.profile-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/6537310/pexels-photo-6537310.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Adjust the blur radius as needed */
  z-index: -1;
}


.profile-container h2 {
  font-size: 24px;
  color: white;
  padding: 140px 0 24px 0; 
}
.toggle-container {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.toggle-container button {
  color: white;
  flex: 1;
  padding: 4px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.toggle-container button.active {
  background-color: #ccc;
  color: #333;
}

.form-container {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.form-group input {
  border: none;
  border-radius: 10px;
  padding: 12px;
  font-size: 16px;
}

.form-group label {
  color: white;
  margin-top: 5px;
  font-size: 16px;
}

button[type="submit"] {
  border: none;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

img {
  width: 200px; /* adjust as needed */
  height: auto; /* to maintain aspect ratio */
}




/* Landing */

.toggle-container-copy {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.toggle-container-copy p {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.signedIn p {
  padding: 10px 20px;
  color: white;
  font-size: 20px;
}

.signedIn button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}












/* Search Bar NOT IMPORTANT */

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 30px;
  max-width: 75vw;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;

  z-index: 100;

}

@media only screen and (min-width: 1024px) {
  .search-bar {
    width: 700px;
  }
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: transparent;
  outline: none;
}

.search-icon {
  padding: 10px;
  font-size: 22px;
  color: rgba(214,192,161,255);

}

.search-input::placeholder {
  color: #999;
  text-align: center;
}


/* .loading {
  position: absolute;
  display: flex;
  justify-content: center;

  top: 20px;
} */

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically */
  top: 10%; /* Move the element to the middle of its parent */
  left: 0;
  right: 0;
  transform: translateY(-50%); /* Center the element vertically */
}

.loading h5 {
  padding: 6px;
  text-align: center;
}




/* Reading List */

read-con, .read-hero, .read-list {
  display: flex;
  flex-direction: column;
}


.read-con::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/5114911/pexels-photo-5114911.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  filter: blur(2px); /* Adjust the blur radius as needed */
  z-index: -1;
}


.read-hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#read-list{
  font-size: 12px;
  color: white;
  font-weight: 300;
  text-align: center;
  padding-bottom: 16px;
}


.read-hero h2 {
  font-size: 24px;
  color: white;
}

.read-hero button {
  border: none;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #5ACE5A;
}

.read-hero button a:link {
  text-decoration: none;
  color:black;
  font-size: 16px;
  margin-top: 16px;
}

.read-hero button a:visited {
  color: black;
}
.read-list {
  gap: 20px;
  align-items: center;
  overflow-y: scroll;
  height: 55vh;

  
  position: relative; /* For showBook */
}

.read-hero {
  padding: 48px;
  text-align: center;

}

.read-book {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  
  column-gap: 16px;
}

.read-img img {
  width: 75px;
}

.read-btn button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: rgb(246, 78, 78);
  

}

.read-auth {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 16px;
}
.recent {
  height: 100px;
  padding: 16px 48px;
  justify-items: flex-start;
  align-items: center;
  background-color: rgba(251, 221, 209, 0.9);
  width: 65vw;
  border-radius: 10px;

  z-index: 15;
}

.not-recent {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 48px;
  background-color: rgba(251, 221, 209, 0.9);
  border-radius: 10px;
  width: 60vw;
  
  z-index: 16;
}

.read-detnt {
  width: 100%;
  
}

.recent h5, .not-recent h5 {
  color: black;
  font-family: 'ahganirya';
  font-size: 8px;
}

.read-detnt h5 {
  text-align: center;
}

.read-detnt p {
  text-align: center;
}

.no-dis {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,255);
  border-radius: 10px;
}

.no-dis p {
  padding: 16px 24px;
  font-size: 14px;
  color: black;
}





/* ShowBook */

.showbook {
  display: none;
  padding: 0px 16px;
  background-position: center;
  background-size: cover;

  height: 55vh;

  z-index: 20;
  position: absolute;
  width: 85vw;
  border-radius: 10px;
  overflow-y: scroll;
  flex-direction: column;
}

.showbook::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./Pages/read-showbook-bg.jpg');
  background-position: center;
  background-size: cover;
  opacity: 1;
  border-radius: 10px;
  z-index: -1;
  filter: brightness(65%) blur(4px);
}

.showbook .ind-book-des p {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  margin: 0 auto;
  overflow-x: none;
  overflow-y: scroll;
  width: 80vw;
  color: rgb(255, 255, 255);
}

.showbook .ind-book-des h4 {
  color: white;
  font-weight: bold;
  font-family: 'ahganirya';
  margin-top: -10px;
  padding-top: 0px;
  font-size: 14px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.showBtn {
  align-self: flex-end;
  margin-top: 16px;
  display: flex;
}
.showBtn button{
  background-color: transparent;
  border: none;
  font-size: 28px;
  justify-content: center;
  align-items: center;
}