@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom resets or global styles */
* {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  background-color: theme('colors.background');
}

/* import webfont */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
